@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }

.container-fluid, .container {
	-webkit-animation: fade-in .3s linear; /* Safari 4+ */
	-moz-animation: fade-in .3s linear; /* Fx 5+ */
	-o-animation: fade-in .3s linear; /* Opera 12+ */
	animation: fade-in .3s linear; /* IE 10+, Fx 29+ */
}

@media (min-width: 1200px) {
	.navbar{
		max-width: 1920px;
	}
}
body {
	font-family: "PT Sans",Helvetica,Arial,sans-serif;
	padding-top: 50px;
}

/* navbar */
.navbar-inverse {
	background-color: #2f1500;
	border-color: #080808;
}
.navbar-inverse .navbar-brand {
	font-weight: 100;
	font-size: xx-large;
}
.navbar-inverse .navbar-nav>li>a {
	color: #93817b;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #edd8cb;
	background-color: #3c2109;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
img#logo {
	margin: -13px;
	height: 50px;
}
/* /navbar */

/* table */
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	text-align: center;
	background: #f2f2f2;
}

.close {
	float: none;
	color: red;
	opacity: 1;
}
/* /table */


/* modal */
@media (max-width: 1200px) {
	.modal-dialog:not(modalPrihodRashod) {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
	}
}


.modal-header .close { margin: -2px -10px 0px -10px; }

.row-fluid > a.btn {
	font-size: 3em;
	border: solid 2px #6e6e6e;
	height: 10vh;
	width: 30vw;
	line-height: 100%;
}

#modal-equipment #notes { height: 20vh; }
textarea[name="sql"] { font-family: monospace; }

/* /modal */


.label { cursor: pointer;}
.text-muted { opacity: 0.6; }


/*request edit*/
.items_container {
	margin-bottom: 1em;
}
.items_head {
	/* margin: 0 0 4px 0; */
	font-size: 12px;
	color: #888;
	text-transform: uppercase;
}
.items_value {
}


.paymentEdit {
	font-size: 2em;
	padding: 15px 6px;
	margin: 2px 0;
}
#notes { width: 100%; }


/* экраная клава */
div#keyboard {
	text-align: center;
}
div#keyboard .row-fluid {
	margin: 7px;
}
/* /экраная клава */


#benchmark {
	/*position: absolute;*/
	/*top: -0;*/
	/*bottom: 0;*/
	/*left: 42%;*/
	background-color: white;
	/*opacity: 1;*/
}


#toast-container>div {
	padding: 5px 15px 5px 15px;

}
#toast-container > .toast {
	background-image: none!important;
}
